<h2> <font face="verdana" color=green> Book List </font> </h2>


<% all_books = Book.read %>

<table style="width:300px">

<thead>
<tr>
   <th>Title</th>
   <th>Author</th>
   <th>Rating</th>
   <th>Price</th>

</tr>
</thead>

<tbody>
  <% all_books.each do |book| %>
     <% name = book["title"] %>


  <% rating = Review.where("title" => book["title"]).average("stars") %>

  <tr>

    <td><%= link_to name, "/books/#{book["id"]}"  %></td>
    <td><%= book["author"] %></td>
    <td><%= rating %></td>
    <td><%= book["price"] %></td



</tr>
<% end %>
</tbody>
</table>
